<label> Server Name </label>
<!-- 
  <input 
  type="text"
  class="form-control" 
  (input)="onUpdateServerName($event)"
> -->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
>
<p>
  <span>Server Name is: </span>{{serverName}}
</p>
<button 
  class="btn btn-primary"
  style="font-size: 2rem;"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">
  ADD SERVER 
</button>
<p> 
  {{serverCreationStatus}}
</p>


<!-- Example of Property Binding and String Interpolation -->
<p> {{ allowNewServer }}</p>
<p [innerText]="allowNewServer"></p>

<!-- Use Directives *ngIf -->
<p *ngIf="serverCreated else noServer">
   Server was created, server name is {{serverName}}
</p>
<ng-template #noServer>
  <p> No Server was created! </p>
</ng-template>